<html>
	<head>
		<title>Customer name here</title>
	</head>
	<body class = "bay_background">
	<div class = "row">
		<div class= "col-md-12">
			<div class = "page-header">
				<h1 class = "center-text form_header roboto_font">
					View all tables for Customer name here
				</h1>
			</div>
		</div>
	</div>
	<ul class = "list-group">
			<div class = "row">
				<div class = "col-md-2">
				</div>
				<div class = "col-md-8 runs">
					<ul class = "list-group runs">
                    </ul>
				</div>
				<div class = "col-md-2">
				</div>
			</div>
	</ul>
	</body>
</html>
