<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>Industry Vision Automation,Corp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/text.css" rel="stylesheet" type="text/css">
			<script language="JavaScript" type="text/JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
			</script>
			<style type="text/css"> <!-- }
	--></style>
	</head>
	<body leftmargin="0" topmargin="0" onLoad="MM_preloadImages('/images/services/TechnicalSupportO.gif','/images/services/ContactInformationO.gif')">
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0" height="148">
			<tr>
				<td height="1"><img src="/images/head/spacer.gif" width="776" height="1" border="0" alt=""></td>
				<td height="1"><img src="/images/head/spacer.gif" width="1" height="1" border="0" alt=""></td>
			</tr>
			<tr>
				<td height="123"><img name="head_r1_c1" src="/images/head/head_r1_c1.gif" width="776" height="123"
						border="0" alt=""></td>
				<td height="123"><img src="/images/head/spacer.gif" width="1" height="123" border="0" alt=""></td>
			</tr>
			<tr>
				<td align="center" background="/images/head/head_r2_c1.gif" height="24"><table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center" class="font4"><a class="top" href="../IVA/MS.html">IVA</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../product/P1.html">Products</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="top" href="../services/TS.html">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../CDE/CSD.html">Contract Design 
	</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A class="top" href="../news/news.html">News</A>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../contactus/contactus.html">Contact 
									Us</a><a href="/pearlception" class="top">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Pearlception</a></td>
						</tr>
					</table>
				</td>
				<td height="24"><img src="/images/head/spacer.gif" width="1" height="28" border="0" alt=""></td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top" bgcolor="#6b6b9b">
					<table width="100%" border="0" cellpadding="0" cellspacing="4">
						<tr>
							<td width="19%" align="center" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="149">
									<!-- fwtable fwsrc="Î´ÃüÃû" fwbase="left.gif" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
									<tr>
										<td><img src="/images/left/spacer.gif" width="149" height="1" border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="1" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r1_c1" src="/images/services/Services.gif" width="149" height="27"
												border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="27" border="0" alt=""></td>
									</tr>
									<tr>
										<td rowspan="2" align="center" valign="top" background="/images/left/left_r2_c1.gif">
											<table width="100%" border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td align="center"><a href="TS.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image53','','/images/services/TechnicalSupportO.gif',1)"><img src="/images/services/TechnicalSupport.gif" name="Image53" width="143"
																height="31" border="0"></a></td>
												</tr>
												<tr>
													<td align="center"><a href="CS.html"><img src="/images/services/CustomSupportO.gif" width="143" height="31" border="0"></a></td>
												</tr>
												<tr>
													<td align="center"></td>
												</tr>
											</table>
										</td>
										<td><img src="/images/left/spacer.gif" width="1" height="4" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img src="/images/left/spacer.gif" width="1" height="10" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r4_c1" src="/images/left/left_r4_c1.gif" width="149" height="3"
												border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="3" border="0" alt=""></td>
									</tr>
								</table>
							</td>
							<td width="81%" align="center" bgcolor="#b5b5cd">
								<br>
								<br>
								<table width="96%" border="0" cellpadding="5" cellspacing="0" bgcolor="#ffffff" style="BORDER-COLLAPSE: collapse"
									bordercolor="#111111">
									<tr>
										<td bgcolor="#ffffff"><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#ffffff" style="BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid">
												<tr>
													<td bgcolor="#ffffff"><br>
														<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
															<tr>
																<td><p align="justify" class="font3">
																		<font color="#000000">
																		<strong style="font-weight: 400">
																		If </strong>you need any assistance, we are here to 
																			help. We provide customer training for the installation and operation of all of 
																			our systems. If you have any other technical or servicing questions, please 
																			email us and we will reply as soon as possible. </font>
																	</p>
																</td>
															</tr>
														</table>
														<br>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<br>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td bgcolor="#343467">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
