<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>Industry Vision Automation,Corp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/text.css" rel="stylesheet" type="text/css">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
	</head>
	<body leftmargin="0" topmargin="0">
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td><img src="/images/head/spacer.gif" width="776" height="1" border="0" alt=""></td>
				<td><img src="/images/head/spacer.gif" width="1" height="1" border="0" alt=""></td>
			</tr>
			<tr>
				<td><img name="head_r1_c1" src="/images/head/head_r1_c1.gif" width="776" height="123"
						border="0" alt=""></td>
				<td><img src="/images/head/spacer.gif" width="1" height="123" border="0" alt=""></td>
			</tr>
			<tr>
				<td align="center" background="/images/head/head_r2_c1.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center" class="font4"><a class="top" href="../IVA/MS.html">IVA</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../product/P1.html">Products</a>&nbsp;&nbsp;&nbsp;&nbsp; 
								&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="top" href="../services/TS.html">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../CDE/CSD.html">Contract 
									Design &amp; Engineering</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A class="top" href="../news/news.html">News</A>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../contactus/contactus.html">Contact 
									Us</a></td>
						</tr>
					</table>
				</td>
				<td><img src="/images/head/spacer.gif" width="1" height="28" border="0" alt=""></td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top" style="background-color:#6b6b9b">
					<table width="100%" border="0" cellpadding="0" cellspacing="4" height="1392">
						<tr>
							<td width="19%" align="center" valign="top" height="1388">
								<table border="0" cellpadding="0" cellspacing="0" width="149">
									<!-- fwtable fwsrc="Î´ÃüÃû" fwbase="left.gif" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
									<tr>
										<td style="background-color:#343467"><img src="/images/left/spacer.gif" width="149" height="1" border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="1" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r1_c1" src="/images/product/P&amp;S.gif" width="149" height="27"
												border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="27" border="0" alt=""></td>
									</tr>
									<tr>
										<td rowspan="2" align="center" valign="top" background="/images/left/left_r2_c1.gif">
											<table width="100%" border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td align="center"><a href="P1.html"><img src="/images/product/Product1O.gif" width="143" height="31" border="0"></a></td>
												</tr>
												<tr>
													<td align="center"><a href="P2.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image55','','images/product/Product2O.gif',1)"><img src="/images/product/Product2.gif" name="Image55" width="143" height="31"
																border="0"></a></td>
												</tr>
												<tr>
													<td align="center"><a href="P3.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image61','','images/product/Product3O.gif',1)"><img src="/images/product/Product3.gif" name="Image61" width="143" height="31"
																border="0"></a></td>
												</tr>
											</table>
										</td>
										<td><img src="/images/left/spacer.gif" width="1" height="4" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img src="/images/left/spacer.gif" width="1" height="10" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r4_c1" src="/images/left/left_r4_c1.gif" width="149" height="3"
												border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="3" border="0" alt=""></td>
									</tr>
								</table>
							</td>
							<td width="81%" align="center" valign="top" style="background-color:#b5b5cd" height="1388"><br>
								<table width="96%" height="468" border="0" cellpadding="2" cellspacing="0" style="BORDER-COLLAPSE: collapse"
									bordercolor="#111111">
									<tr>
										<td width="69%" align="center" style="background-color:#ffffff">
											<table width="97%" border="0" cellspacing="0" bordercolor="#ffffff" style="BORDER-COLLAPSE: collapse"
												cellpadding="0" height="100%">
												<tr>
													<td align="center" style="background-color:#ffffff">
														<table width="565" border="0" cellpadding="0" cellspacing="0" class="font3" style="BORDER-COLLAPSE: collapse"
															bordercolor="#ffffff" height="599">
															<tr valign="top">
																<td height="394" width="368">
																	
																	<P align="justify" style="line-height: 15pt">
                                                                    <font color="#000000">
                                                                    <b>
                                                                    <font style="font-size: 13pt"><br>
                                                                    LaXser</font><font size="2"><sup>TM</sup></font></b> 
                                                                    is the world 
                                                                    first 
                                                                    advanced 
                                                                    detection 
                                                                    system which 
                                                                    introduces 
                                                                    synergetic 
                                                                    X-ray and 
                                                                    Laser 
                                                                    technologies 
                                                                    to achieve 
                                                                    high 
                                                                    detection 
                                                                    accuracy of 
                                                                    physical 
                                                                    contaminants 
                                                                    including 
                                                                    but not 
                                                                    limited to 
                                                                    bone 
                                                                    fragments, 
                                                                    glasses, 
                                                                    metals, 
                                                                    etc., in 
                                                                    poultry, 
                                                                    meat, and 
                                                                    food 
                                                                    products. 
                                                                    LaXser<font size="2"><sup>TM</sup></font> has 
                                                                    superior 
                                                                    sensitivity 
                                                                    and 
                                                                    detectability 
                                                                    with 
                                                                    ultra-low 
                                                                    false alarm.&nbsp;&nbsp;&nbsp;
                                                                    </font></P>
																	<P align="left" style="margin-bottom: 10pt"><FONT color="#000000"><STRONG>Product Highlights :<br><br>
																			</STRONG><font face="Arial" style="FONT-SIZE: 15pt">• </font>Advanced LaXser<font size="2"><sup>TM</sup></font> 
																			detection technology with highly 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;sensitive synergic laser and x-ray imaging 
																			modalities.<A onmouseover="MM_swapImage('Image61','','images/product/Product3O.gif',1)"
																				onmouseout="MM_swapImgRestore()" href="P3.html"></A>
																			<br><br>
																			<font face="Arial" style="FONT-SIZE: 15pt">• </font>State-of-the-art 
																			proprietary multi-CPU system&nbsp;&nbsp; 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;architecture incorporating DSPs, ASICs, 
                                                                    and FPGAs&nbsp; 
																	&nbsp;&nbsp;&nbsp;&nbsp;with 
                                                                    2 
																			 
																			GB/sec bandwidth and ultra-wide 128 bit vector&nbsp; 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;processing technology.<br><br>
																			<font face="Arial" style="FONT-SIZE: 15pt">• </font>Unique advanced multi-task 
																			intelligent machine vision 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;techniques 
                                                                    and 
                                                                    proprietary 
                                                                    software with non-linear 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;hyperspace image 
																			 
																			processing capability.<br><br>
																			<font face="Arial" style="FONT-SIZE: 15pt">• </font>15” full color water-proof 
																			touch screen with stainless 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;steel frame.<br><br>
																			<font face="Arial" style="FONT-SIZE: 15pt">• </font>Capable of live image 
																			display, image archiving, event 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;logging, and online statistics.<br><br>
																			<font face="Arial" style="FONT-SIZE: 15pt">• </font>Food grade type-2 polish 
																			stainless steel wash-down 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;cabinet at NEMA-4X 
                                                                    / IP66X 
                                                                    standard 
                                                                    sealing, 
                                                                    capable &nbsp;&nbsp;&nbsp;&nbsp;of sustaining water jet of up to 1,600 PSI.<br><br>
																			<font face="Arial" style="FONT-SIZE: 15pt">• </font>Computer controlled 
																			automated rejection system with 2-&nbsp;&nbsp;&nbsp;&nbsp;lane simultaneous and independent rejection 
																			&nbsp;&nbsp;&nbsp;&nbsp;capabilities.</FONT><br><br>
																			<font face="Arial" style="FONT-SIZE: 15pt" color="#000000">• </font>
                                                                    <font color="#000000">
                                                                    Maintenance-free 
                                                                    stainless 
                                                                    drum motor 
                                                                    with 
                                                                    on-screen 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;computer 
                                                                    control 
                                                                    capability.<br><br>
																			<font face="Arial" style="FONT-SIZE: 15pt">• </font>Fully compliance with US 
																			government ionizing radiation 
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;regulations.</font></P>
																</td>
																<TD width="197" height="394">
																<table border="0" width="107%" id="table4" height="870">
																	<tr>
																		<td height="244">
																		<img border="0" src="/images/product/LaXser_new2.jpg" width="189" height="220"></td>
																	</tr>
																	<tr>
																		<td height="146">
																		<img border="0" src="/images/product/LaXser_new3.JPG"></td>
																	</tr>
																	<tr>
																		<td height="239">
																		<img border="0" src="/images/product/LaXser_new1.jpg" width="189" height="237"></td>
																	</tr>
																	<tr>
																		<td height="124" valign="top">
																		<img border="0" src="/images/product/LaXser_new4.jpg" width="190" height="114"></td>
																	</tr>
																	<tr>
																		<td>
																		<img border="0" src="/images/product/LaXser_new5.jpg" width="190" height="119"></td>
																	</tr>
																</table>
																</TD>
															</tr>
															<tr>
																<td width="368" height="92" valign="top">
																	<font color="#000000"><strong>Tech specs:</strong></font><br><br>
																	<table border="1" width="100%" id="table2">
																		<tr>
																			<td width="157">
																			<span style="font-size: 9pt">
																			Resolution:</span></td>
																			<td>
																			<span style="font-size: 9pt">0.36 mm x 0.4 mm 
                                                                x 0.4 mm</span></td>
																		</tr>
																		<tr>
																			<td width="157">
																			<span style="font-size: 9pt">
																			Detection 
																			rate:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			&gt; 
																			98% 
																			(1/8&quot; 
																			calcified 
																			chicken 
																			bones)
																			<br>
																			&gt;99.5%(1/4&quot; 
																			and 
																			larger 
																			calcified 
																			chicken 
																			bones)
																			<br>
																			&gt;99.9%(1/32&quot; 
																			metal, 
																			sand, 
																			glass, 
																			and 
																			hard 
																			objects)</span></td>
																		</tr>
																		<tr>
																			<td width="157">
																			<span style="font-size: 9pt">
																			False 
																			alarm:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			Near 
																			0%</span></td>
																		</tr>
																		<tr>
																			<td width="157">
																			<span style="font-size: 9pt">
																			Speed:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			0 - 
																			72 
																			feet/min</span></td>
																		</tr>
																		<tr>
																			<td width="157">
																			<span style="font-size: 9pt">
																			Conveyor 
																			width:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			24 
																			Inches</span></td>
																		</tr>
																		<tr>
																			<td width="157">
																			<span style="font-size: 9pt">
																			Throughput:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			Up 
																			to 
																			144 
																			butterflies/min
																			<br>
																			10,800 
																			lb/hr</span></td>
																		</tr>
																		<tr>
																			<td width="157">
																			<span style="font-size: 9pt">
																			Configurations:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			Dual-lanes(2 
																			x 
																			12&quot;) 
																			/ 
																			Continues</span></td>
																		</tr>
																		<tr>
																			<td width="157">
																			<span style="font-size: 9pt">
																			Higher 
																			Speed 
																			Available:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			0 - 
																			144 
																			feet/min 
																			at 
																			0.72 
																			mm 
																			resolution</span></td>
																		</tr>
																		</table>
																	<br><strong>
                                                                <font color="#000000">
                                                                Dimension:</font></strong><br><br>
																	<table border="1" width="100%" id="table3">
																		<tr>
																			<td width="164">
																			<span style="font-size: 9pt">
																			Height:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			7.5 
																			feet</span></td>
																		</tr>
																		<tr>
																			<td width="164">
																			<span style="font-size: 9pt">
																			Width:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			5 
																			feet</span></td>
																		</tr>
																		<tr>
																			<td width="164">
																			<span style="font-size: 9pt">
																			Depth:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			3.5 
																			feet</span></td>
																		</tr>
																		<tr>
																			<td width="164">
																			<span style="font-size: 9pt">
																			Conveyor 
																			Length:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			10 
																			feet 
																			/ 
																			custom 
																			configurable</span></td>
																		</tr>
																		<tr>
																			<td width="164">
																			<span style="font-size: 9pt">
																			Weight:</span></td>
																			<td>
																			<span style="font-size: 9pt">
																			3,000 
																			lb 
																			est.</span></td>
																		</tr>
																		</table>
																	<br>	
                                                                <b>
                                                                <font color="#000000">
                                                                Applications:</font></b>
                                                                <font color="#000000">
                                                                <br><br>
																	<font face="Symbol">
																	·</font>&nbsp; Poultry &amp; Turkey
                                                                <br><font face="Symbol">
																	·</font>&nbsp; Meat<br>
																	<font face="Symbol">
																	·</font>&nbsp; Seafood
                                                                <br><font face="Symbol">
																	·</font>&nbsp; Canned food
                                                                <br><font face="Symbol">
																	·</font>&nbsp; Packaged food<br>
																	<font face="Symbol">
																	·</font>&nbsp; Other food &amp; none-food applications</font></td>
																<TD width="197">&nbsp;</TD>
															</tr>
															<tr>
																<td width="368"><div align="justify"><FONT face="Arial"></FONT> &nbsp;</div>
																</td>
																<TD width="197"><FONT face="Arial"></FONT></TD>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									</table>
								<br>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td style="background-color:#343467">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
