<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>Industry Vision Automation,Corp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/text.css" rel="stylesheet" type="text/css">
	</head>
	<body leftmargin="0" topmargin="0" onLoad="MM_preloadImages('../resource/images/product/Product3O.gif')">
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td><img src="/images/head/spacer.gif" width="776" height="1" border="0" alt=""></td>
				<td><img src="/images/head/spacer.gif" width="1" height="1" border="0" alt=""></td>
			</tr>
			<tr>
				<td><img name="head_r1_c1" src="/images/head/head_r1_c1.gif" width="776" height="123"
						border="0" alt=""></td>
				<td><img src="/images/head/spacer.gif" width="1" height="123" border="0" alt=""></td>
			</tr>
			<tr>
				<td align="center" background="/images/head/head_r2_c1.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center" class="font4"><a class="top" href="../IVA/MS.html">IVA</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../product/P1.html">Products</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="top" href="../services/TS.html">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../CDE/CSD.html">Contract Design 
									&amp; Engineering</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A class="top" href="../news/news.html">News</A> 
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../contactus/contactus.html">Contact 
									Us</a></td>
						</tr>
					</table>
				</td>
				<td><img src="/images/head/spacer.gif" width="1" height="28" border="0" alt=""></td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top" bgcolor="#6b6b9b">
					<table width="100%" border="0" cellpadding="0" cellspacing="4">
						<tr>
							<td width="19%" align="center" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="149"> <!-- fwtable fwsrc="Î´ÃüÃû" fwbase="left.gif" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
									<tr>
										<td><img src="/images/left/spacer.gif" width="149" height="1" border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="1" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r1_c1" src="/images/product/P&amp;S.gif" width="149" height="27"
												border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="27" border="0" alt=""></td>
									</tr>
									<tr>
										<td rowspan="2" align="center" valign="top" background="/images/left/left_r2_c1.gif">
											<table width="100%" border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td align="center"><a href="P1.html"><img src="/images/product/Product1.gif" name="Image54" width="143" height="31"
																border="0"></a></td>
												</tr>
												<tr>
													<td align="center"><a href="P2.html"><img src="/images/product/Product2O.gif" width="143" height="31" border="0"></a></td>
												</tr>
												<tr>
													<td align="center"><a href="P3.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image57','','../resource/images/product/Product3O.gif',1)"><img src="/images/product/Product3.gif" name="Image57" width="143" height="31"
																border="0"></a></td>
												</tr>
											</table>
										</td>
										<td><img src="/images/left/spacer.gif" width="1" height="4" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img src="/images/left/spacer.gif" width="1" height="10" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r4_c1" src="/images/left/left_r4_c1.gif" width="149" height="3"
												border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="3" border="0" alt=""></td>
									</tr>
								</table>
							</td>
							<td width="81%" align="center" valign="top" bgcolor="#b5b5cd"><br>
								<table width="95%" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td bgcolor="#343467">
											<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#ffffff" bgcolor="#ffffff"
												style="BORDER-COLLAPSE: collapse">
												<tr>
													<td><table width="100%" border="0" cellpadding="0" cellspacing="0">
															<tr>
																<td width="31%" align="center" valign="middle">
																<table width="112%" border="1" cellpadding="0" cellspacing="1" bordercolor="#ffffff">
																		<tr>
																			<td>&nbsp;<a href="/images/product/appletao_b.jpg" target="_blank"><font color="#000000"><img src="/images/product/merlin_01.jpg" width="160" height="98" border="0"></font></a></td>
																		</tr>
																	</table>
																</td>
																<td width="69%"><table width="100%" border="0">
																		<tr>
																			<td>
																			<p align="justify">
																			<span style="font-size: 9pt">
																			<font face="Arial">
																			MERLIN</font><sup><font face="Arial">®
																			</font>
																			</sup>
																			<font face="Arial">
																			vision 
																			inspection 
																			system 
																			(ASAE 
																			AE50 
																			award 
																			for 
																			the 
																			outstanding 
																			technology) 
																			for 
																			100% 
																			inspection 
																			of a 
																			wide 
																			variety 
																			of 
																			fruit 
																			&amp; 
																			vegetables 
																			including 
																			apples, 
																			peaches, 
																			pears, 
																			tomatoes, 
																			and 
																			citrus. 
																			It 
																			can 
																			sort 
																			fruits 
																			into 
																			72 
																			simultaneous 
																			quality 
																			grades 
																			at a 
																			speed 
																			up 
																			to 
																			44 
																			tons/hour. 
																			It 
																			has 
																			been 
																			widely 
																			installed 
																			in 
																			the 
																			United 
																			States, 
																			Canada, 
																			and 
																			other 
																			countries, 
																			and 
																			has 
																			dramatically 
																			improved 
																			fruit 
																			packing 
																			efficiency 
																			and 
																			quality 
																			-- 
																			with 
																			vast 
																			labor 
																			savings 
																			and 
																			high-skill 
																			job 
																			creations 
																			(sorting 
																			over 
																			45% 
																			of 
																			U.S. 
																			apples 
																			a 
																			year, 
																			1992-2001).</font></span></td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td colspan="2" align="center" valign="top"><table width="100%" border="0">
																		<tr>
																			<td width="64%">
                                                                            <table width="362" border="0" cellpadding="0" cellspacing="0" class="font3">
																					<tr>
																						<td height="80" valign="top" width="362">
																							<font color="#000000"><strong>Tech specs:</strong><br>
																								&nbsp;</font><table border="0" width="100%" id="table1" cellspacing="4">
																								<tr>
																									<td width="166"><span style="font-size: 9pt">Speed:</span></td>
																									<td><span style="font-size: 9pt">Up to 44 tons/hr</span></td>
																								</tr>
																								<tr>
																									<td width="166"><span style="font-size: 9pt">Configuration:</span></td>
																									<td><span style="font-size: 9pt">2 - 16 lanes</span></td>
																								</tr>
																								<tr>
																									<td width="166"><span style="font-size: 9pt">Color grades:</span></td>
																									<td><span style="font-size: 9pt">8 - 32 grades</span></td>
																								</tr>
																								<tr>
																									<td width="166"><span style="font-size: 9pt">Size:</span></td>
																									<td><span style="font-size: 9pt">Weight and/or optical sizing</span></td>
																								</tr>
																								<tr>
																									<td width="166"><span style="font-size: 9pt">Shape:</span></td>
																									<td><span style="font-size: 9pt">8 grades</span></td>
																								</tr>
																								<tr>
																									<td width="166"><span style="font-size: 9pt">Defects:</span></td>
																									<td><span style="font-size: 9pt">Common defects</span></td>
																								</tr>
																								<tr>
																									<td width="166"><span style="font-size: 9pt">Drops:</span></td>
																									<td><span style="font-size: 9pt">Up to 128 drop stations</span></td>
																								</tr>
																								<tr>
																									<td width="166"><span style="font-size: 9pt">Sugar measurement:</span></td>
																									<td><span style="font-size: 9pt">Available</span></td>
																								</tr>
																								<tr>
																									<td width="166"><span style="font-size: 9pt">Firmness measurement:</span></td>
																									<td><span style="font-size: 9pt">Available</span></td>
																								</tr>
																							</table>
																							<font color="#000000">&nbsp; </font></td>
																					</tr>
																				</table>
																			</td>
																			<td width="36%" align="center"><table width="48%" border="1" cellpadding="0" cellspacing="1" bordercolor="#ffffff">
																					<tr>
																						<td><img src="/images/product/apple1.jpg" width="177" height="252"></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td colspan="2" height="270" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
																					<tr>
																						<td width="38%" align="center"><table width="48%" border="1" cellpadding="0" cellspacing="1" bordercolor="#ffffff">
																								<tr>
																									<td><img src="/images/product/merlin_02.jpg" width="160" height="105"></td>
																								</tr>
																							</table>
																							<br>
																							<table width="48%" border="1" cellpadding="0" cellspacing="1" bordercolor="#ffffff">
																								<tr>
																									<td><img src="/images/product/apple2.jpg" width="166" height="72"></td>
																								</tr>
																							</table>
																						</td>
																						<td width="62%"><table width="100%" border="0" cellpadding="4" class="font3">
																								<tr>
																									<td width="100%"><div align="justify">
																											<font color="#000000"><strong>Product Highlights :</strong><br>
																												•&nbsp; A wide variety of fruits and vegetables including apples, 
																												peaches, pears, tomatoes, etc;<br>
																												•&nbsp; Full spectral color vision and image processing;<br>
																												•&nbsp; Pipelined parallel image processing of multi-color cameras;<br>
																												•&nbsp; Master and slave multiprocessing and expandable open architecture;<br>
																												•&nbsp; Fruit rotation and multiple imaging views for full surface inspection;<br>
																												•&nbsp; Special lighting chamber for color enhancement and separations;<br>
																												•&nbsp; Automated camera calibration of all cameras and all lanes for 
																												uniformity and consistency results;<br>
																												•&nbsp; Adjustable speed and user-friendly operation and control. </font>
																										</div>
																									</td>
																								</tr>
																							</table>
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<br>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td bgcolor="#343467">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
