<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>Industry Vision Automation,Corp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/text.css" rel="stylesheet" type="text/css">
	</head>
	<body leftmargin="0" topmargin="0" onLoad="MM_preloadImages('/images/product/Product2O.gif')">
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td><img src="/images/head/spacer.gif" width="776" height="1" border="0" alt=""></td>
				<td><img src="/images/head/spacer.gif" width="1" height="1" border="0" alt=""></td>
			</tr>
			<tr>
				<td><img name="head_r1_c1" src="/images/head/head_r1_c1.gif" width="776" height="123"
						border="0" alt=""></td>
				<td><img src="/images/head/spacer.gif" width="1" height="123" border="0" alt=""></td>
			</tr>
			<tr>
				<td align="center" background="/images/head/head_r2_c1.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center" class="font4"><a class="top" href="../IVA/MS.html">IVA</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../product/P1.html">Products</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="top" href="../services/TS.html">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../CDE/CSD.html">Contract Design 
									&amp; Engineering</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A class="top" href="../news/news.html">News</A>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../contactus/contactus.html">Contact 
									Us</a></td>
						</tr>
					</table>
				</td>
				<td><img src="/images/head/spacer.gif" width="1" height="28" border="0" alt=""></td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top" bgcolor="#6b6b9b">
					<table width="100%" border="0" cellpadding="0" cellspacing="4">
						<tr>
							<td width="19%" align="center" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="149"> <!-- fwtable fwsrc="Î´ÃüÃû" fwbase="left.gif" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
									<tr>
										<td><img src="/images/left/spacer.gif" width="149" height="1" border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="1" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r1_c1" src="/images/product/P&amp;S.gif" width="149" height="27"
												border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="27" border="0" alt=""></td>
									</tr>
									<tr>
										<td rowspan="2" align="center" valign="top" background="/images/left/left_r2_c1.gif">
											<table width="100%" border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td align="center"><a href="P1.html"><img src="/images/product/Product1.gif" name="Image54" width="143" height="31"
																border="0"></a></td>
												</tr>
												<tr>
													<td align="center"><a href="P2.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image53','','/images/product/Product2O.gif',1)"><img src="/images/product/Product2.gif" name="Image53" width="143" height="31"
																border="0"></a></td>
												</tr>
												<tr>
													<td align="center"><img src="/images/product/Product3O.gif" width="143" height="31"></td>
												</tr>
											</table>
										</td>
										<td><img src="/images/left/spacer.gif" width="1" height="4" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img src="/images/left/spacer.gif" width="1" height="10" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r4_c1" src="/images/left/left_r4_c1.gif" width="149" height="3"
												border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="3" border="0" alt=""></td>
									</tr>
								</table>
							</td>
							<td width="81%" align="center" valign="top" bgcolor="#b5b5cd"><br>
								<table width="95%" border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td bgcolor="#343467">
											<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#ffffff" bgcolor="#ffffff"
												style="BORDER-COLLAPSE: collapse">
												<tr>
													<td><table width="100%" border="0" cellpadding="0" cellspacing="0">
															<tr>
																<td align="center" valign="middle">
																	<br>
																	<table width="95%" border="0">
																		<tr>
																			<td><span class="font3"><strong> <font color="#000000">Oscar Color Vision Sorting System</font></strong><font color="#000000">
																						has been installed in 
                                                                            Florida 
                                                                            and many south America countries for sorting tropical fruits 
																						and exotic verities. </font>
																				</span></td>
																		</tr>
																	</table>
																	<table width="95%" border="0" cellpadding="5">
																		<tr align="center">
																			<td><table width="48%" border="1" cellpadding="0" cellspacing="1" bordercolor="#ffffff">
																					<tr>
																						<td><img src="/images/product/os_01.jpg" width="216" height="144"></td>
																					</tr>
																				</table>
																			</td>
																			<td><table width="48%" border="1" cellpadding="0" cellspacing="1" bordercolor="#ffffff">
																					<tr>
																						<td><img src="/images/product/os_02.jpg" width="216" height="144"></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr align="center">
																			<td><table width="48%" border="1" cellpadding="0" cellspacing="1" bordercolor="#ffffff">
																					<tr>
																						<td><img src="/images/product/oscar1.jpg" width="216" height="144"></td>
																					</tr>
																				</table>
																			</td>
																			<td><table width="48%" border="1" cellpadding="0" cellspacing="1" bordercolor="#ffffff">
																					<tr>
																						<td><img src="/images/product/os_04.jpg" width="216" height="148"></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																	<br>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<br>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td bgcolor="#343467">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
