<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>Industry Vision Automation,Corp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="css/text.css" rel="stylesheet" type="text/css">
			<style type="text/css"> <!-- --></style>
	</head>
	<body leftmargin="0" topmargin="0">
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td><img src="images/head/spacer.gif" width="776" height="1" border="0" alt=""></td>
				<td><img src="images/head/spacer.gif" width="1" height="1" border="0" alt=""></td>
			</tr>
			<tr>
				<td><img name="head_r1_c1" src="images/head/head_r1_c1.gif" width="776" height="123"
						border="0" alt=""></td>
				<td><img src="images/head/spacer.gif" width="1" height="123" border="0" alt=""></td>
			</tr>
			<tr>
				<td align="center" background="images/head/head_r2_c1.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center" class="font4"><a class="top" href="../IVA/MS.html">IVA</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../product/P1.html">Products</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="top" href="../services/TS.html">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../CDE/CSD.html">Contract Design 
									&amp; Engineering</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A class="top" href="../news/news.html">News</A>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../contactus/contactus.html">Contact 
									Us</a></td>
						</tr>
					</table>
				</td>
				<td><img src="images/head/spacer.gif" width="1" height="28" border="0" alt=""></td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top" bgcolor="#6b6b9b"><br>
					<table width="95%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td height="19" align="left" valign="bottom"><img src="images/news/news.gif" width="143" height="22"></td>
						</tr>
						<tr>
							<td align="center" bgcolor="#ffffff">
								<table width="96%" border="0" cellpadding="5" cellspacing="0">
									<tr>
										<td bgcolor="#ffffff"><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#ffffff" style="BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid">
												<tr>
													<td align="center" bgcolor="#ffffff"><br>
														<table width="100%" cellspacing="0" cellpadding="4" class="font3" style="BORDER-COLLAPSE: collapse"
															bordercolor="#111111">
															<tr>
																<td align="center" valign="top">
																	<font face="Symbol" color="#000000">
																	·</font></td>
																<td width="667"><p align="justify"><font color="#000000">Merlin High-Speed Vision Fruit Sorting System 
																			widely installed in the U.S. for inspection and sorting of apples, pears, 
																			peaches, tomatoes, kiwi, and other fresh fruits. </font>
																	</p>
																</td>
															</tr>
															<tr>
																<td align="center" valign="top">
																	<font face="Symbol" color="#000000">
																	·</font></td>
																<td width="667"><div align="justify">
																		<font color="#000000">Oscar Citrus Vision Sorting Machine for oranges, grapefruit, 
																			papayas, and other exotic tropical fruits </font>
																	</div>
																</td>
															</tr>
															<tr>
																<td align="center" valign="top">
																	<font face="Symbol" color="#000000">
																	·</font></td>
																<td width="667"><div align="justify"><font color="#000000">LaXser system -- combined x-ray and laser 
																			imaging system for detection of bone fragments and foreign materials. </font>
																	</div>
																</td>
															</tr>
															<tr>
																<td align="center" valign="top">
																	<font face="Symbol" color="#000000">
																	·</font></td>
																<td width="667"><div align="justify">
																		<font color="#000000">Contract Designer of the high-precision vision system for the 
																			Air Defence AMTS and MTS System of 
																		a 
																		prominent 
																		defense 
																		corporation. </SPAN> </font>
																	</div>
																</td>
															</tr>
															<tr>
																<td align="center" valign="top">
																	<font face="Symbol" color="#000000">
																	·</font></td>
																<td width="667"><div align="justify">
																		<font color="#000000">
																		Automated 
																		broiler chick-sexing 
																		system.</font></div>
																</td>
															</tr>
															<tr>
																<td align="center" valign="top">
																	<font face="Symbol" color="#000000">
																	·</font></td>
																<td width="667"><div align="justify">
																		<font color="#000000">Infrared 
																		thermography for monitoring internal temperature of 
																			meat 
																		immediately 
																		after 
																		cooking 
																		for 
																		safety 
																		control 
																		with 
																		improved 
																		yield 
																		and 
																		quality. </font>
																	</div>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<br>
							</td>
						</tr>
					</table>
					<br>
				</td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td bgcolor="#343467">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
