<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>Industry Vision Automation,Corp</title>
<style type="text/css">
<!--
.style3 {font-size: 12px; color: #FFFFFF; }
-->
</style>
</head>

<body>
<table width="50%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/head/04.gif" width="770" height="37"></td>
  </tr>
  <tr>
    <td valign="top" background="images/head/05.gif">    <br>
    <br>
    <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="45%" rowspan="3" align="center" valign="top"><table width="90%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>              <img src="images/applications/22.jpg" width="300" height="170"><br>
              <br>
</td>
          </tr>
          <tr>
            <td><img src="images/applications/23.jpg" width="300" height="152"><br>
              <br>
              </td>
          </tr>
          <tr>
            <td><img src="images/applications/24.jpg" width="300" height="107"></td>
          </tr>
        </table></td>
        <td width="55%" align="center" valign="top"><table width="96%"  border="0" cellspacing="0" cellpadding="0">
          <tr align="center">
            <td><img src="images/applications/25.jpg" width="110" height="98"></td>
            <td><img src="images/applications/26.jpg" width="110" height="98"></td>
            <td><img src="images/applications/27.jpg" width="110" height="98"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
          <table width="96%"  border="0" cellspacing="0" cellpadding="0">
            <tr align="center">
              <td width="23%"><img src="images/applications/28.jpg" width="80" height="59"></td>
              <td width="27%" align="left"><img src="images/applications/29.jpg" width="80" height="59"></td>
              <td width="27%" align="right"><img src="images/applications/32.jpg" width="80" height="59"></td>
              <td width="23%"><img src="images/applications/33.jpg" width="80" height="59"></td>
            </tr>
            <tr align="center">
              <td><img src="images/applications/30.jpg" width="80" height="59"></td>
              <td align="left"><img src="images/applications/31.jpg" width="80" height="59"></td>
              <td align="right"><img src="images/applications/34.jpg" width="80" height="59"></td>
              <td><img src="images/applications/35.jpg" width="80" height="59"></td>
            </tr>
          </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="center">          <br>          <table width="96%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="23%" align="center" valign="middle"><span class="style3"><img src="images/applications/10.jpg" width="85" height="74"><br>
                MIR Image <br>
            </span></td>
            <td width="25%" align="center" valign="top"><span class="style3"><img src="images/applications/7.jpg" width="85" height="74"><br>
                Stem/Calyx</span></td>
            <td width="27%" align="center" valign="top"><img src="images/applications/12.jpg" width="90" height="65"></td>
            <td width="25%" align="center" valign="top"><img src="images/applications/14.jpg" width="90" height="65"></td>
          </tr>
          <tr>
            <td align="center" valign="middle"><span class="style3"><img src="images/applications/8.jpg" width="85" height="74"><br>
                NIR Image <br>
            </span></td>
            <td align="center" valign="top"><span class="style3"><img src="images/applications/9.jpg" width="85" height="74"><br>
                Defect Segments </span></td>
            <td align="center" valign="top"><img src="images/applications/13.jpg" width="90" height="65"></td>
            <td align="center" valign="top"><img src="images/applications/15.jpg" width="90" height="65"></td>
          </tr>
        </table></td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center"><a href="JavaScript:window.close();"><img src="images/applications/CLOSE.gif" width="75" height="21" border="0"></a></td>
      </tr>
    </table>
    <br></td>
  </tr>
  <tr>
    <td><img src="images/head/06.gif" width="770" height="8"></td>
  </tr>
</table>
</body>
</html>
