<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Industry Vision Automation,Corp</title>
<link href="css/text.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<style type="text/css">
<!--

-->
</style>
</head>

<body leftmargin="0" topmargin="0" onLoad="MM_preloadImages('../resource/images/applications/FoodSafetyO.gif','../resource/images/applications/SecurityInspectionO.gif','../resource/images/applications/3DimagingO.gif')">
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/head/spacer.gif" width="776" height="1" border="0" alt=""></td>
    <td><img src="images/head/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>
  <tr>
    <td><img name="head_r1_c1" src="images/head/head_r1_c1.gif" width="776" height="123" border="0" alt=""></td>
    <td><img src="images/head/spacer.gif" width="1" height="123" border="0" alt=""></td>
  </tr>
  <tr>
    <td align="center" background="images/head/head_r2_c1.gif"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" class="font4"><a class="top" href="../IVA/MS.html">IVA</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../news/news.html">News</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../product/P1.html">Products</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../applications/FS.html">Applications</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../services/TS.html">Services</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../CDE/CSD.html">Contract Design &amp; Engineering</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../awards/awards.html">Awards</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../contactus/contactus.html">Contact Us</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../contactus/contactus.html"></a><a class="top" href="../partner/partner.html">Partner</a></td>
        </tr>
    </table></td>
    <td><img src="images/head/spacer.gif" width="1" height="28" border="0" alt=""></td>
  </tr>
</table>
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top" bgcolor="6B6B9B"> 
      <table width="100%" border="0" cellpadding="0" cellspacing="4">
        <tr>
          <td width="19%" align="center" valign="top"> <table border="0" cellpadding="0" cellspacing="0" width="149">
              <!-- fwtable fwsrc="Î´ÃüÃû" fwbase="left.gif" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
              <tr> 
                <td><img src="images/left/spacer.gif" width="149" height="1" border="0" alt=""></td>
                <td><img src="images/left/spacer.gif" width="1" height="1" border="0" alt=""></td>
              </tr>
              <tr> 
                <td><img name="left_r1_c1" src="images/applications/applications.gif" width="149" height="27" border="0" alt=""></td>
                <td><img src="images/left/spacer.gif" width="1" height="27" border="0" alt=""></td>
              </tr>
              <tr> 
                <td rowspan="2" align="center" valign="top" background="images/left/left_r2_c1.gif"> 
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr> 
                      <td align="center"><a href="FS.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image54','','../resource/images/applications/FoodSafetyO.gif',1)"><img src="images/applications/FoodSafety.gif" name="Image54" width="143" height="31" border="0"></a></td>
                    </tr>
                    <tr> 
                      <td align="center"><a href="SI.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image55','','../resource/images/applications/SecurityInspectionO.gif',1)"><img src="images/applications/SecurityInspection.gif" name="Image55" width="143" height="31" border="0"></a></td>
                    </tr>
                    <tr> 
                      <td align="center"><a href="3D.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image56','','../resource/images/applications/3DimagingO.gif',1)"><img src="images/applications/3Dimaging.gif" name="Image56" width="143" height="31" border="0"></a></td>
                    </tr>
                    <tr> 
                      <td align="center"><a href="ME.html"><img src="images/applications/MedicalEngineeringO.gif" width="143" height="31" border="0"></a></td>
                    </tr>
                  </table></td>
                <td><img src="images/left/spacer.gif" width="1" height="4" border="0" alt=""></td>
              </tr>
              <tr> 
                <td><img src="images/left/spacer.gif" width="1" height="10" border="0" alt=""></td>
              </tr>
              <tr> 
                <td><img name="left_r4_c1" src="images/left/left_r4_c1.gif" width="149" height="3" border="0" alt=""></td>
                <td><img src="images/left/spacer.gif" width="1" height="3" border="0" alt=""></td>
              </tr>
            </table></td>
          <td width="81%" align="center" bgcolor="B5B5CD">            <br>            <br>
            <table width="96%"  border="0" cellpadding="5" cellspacing="0">
              <tr>
                <td bgcolor="#343467"><table width="100%"  border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" style="BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid">
                    <tr>
                      <td><br>
                          <table width="88%"  border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr align="center">
                              <td><img src="images/applications/16.jpg" width="94" height="94"></td>
                              <td><img src="images/applications/17.jpg" width="94" height="94"></td>
                              <td><img src="images/applications/18.jpg" width="137" height="94"></td>
                            </tr>
                          </table>
                          <br>
                          <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                              <td align="left"><p align="justify" class="font3"><strong>Since</strong> the discovery of the X-ray by Wilhelm Conrad Röntgen in 1895, vivo medical imaging technology has developed rapidly. With the advent of modern computers in the early 1970s, new tomographic imaging modalities such as computed tomography (CT), magnetic resonance imaging (MRI), and positron emission tomography (PET) have been developed to deliver cross-sectional images of a patient's anatomy and physiology. The role of medical imaging is to demonstrate the existence or absence of pathology in the human body. IVA also cooperates with NIH in the research of medical imaging and image processing projects. </p></td>
                            </tr>
                          </table>
                      <br></td>
                    </tr>
                </table></td>
              </tr>
            </table>
            <br>
          <br>            </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td bgcolor="343467" style="BORDER-TOP: #ffffff 4px solid;">&nbsp;</td>
  </tr>
</table>
</body>
</html>
