<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>Industry Vision Automation,Corp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="/css/text.css" rel="stylesheet" type="text/css">
	</head>
	<body leftmargin="0" topmargin="0" >
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td><img src="/images/head/spacer.gif" width="776" height="1" border="0" alt=""></td>
				<td><img src="/images/head/spacer.gif" width="1" height="1" border="0" alt=""></td>
			</tr>
			<tr>
				<td><img name="head_r1_c1" src="/images/head/head_r1_c1.gif" width="776" height="123"
						border="0" alt=""></td>
				<td><img src="/images/head/spacer.gif" width="1" height="123" border="0" alt=""></td>
			</tr>
			<tr>
				<td align="center" background="/images/head/head_r2_c1.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center" class="font4"><a class="top" href="../IVA/MS.html">IVA</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../product/P1.html">Products</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../services/TS.html">Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../CDE/CSD.html">Contract Design 
									&amp; Engineering</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A class="top" href="../news/news.html">News</A>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="top" href="../contactus/contactus.html">Contact 
									Us</a></td>
						</tr>
					</table>
				</td>
				<td><img src="/images/head/spacer.gif" width="1" height="28" border="0" alt=""></td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top" bgcolor="#6b6b9b">
					<table width="100%" border="0" cellpadding="0" cellspacing="4">
						<tr>
							<td width="19%" align="center" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="149">
									<!-- fwtable fwsrc="Î´ÃüÃû" fwbase="left.gif" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
									<tr>
										<td><img src="/images/left/spacer.gif" width="149" height="1" border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="1" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r1_c1" src="/images/IVA/IVA.gif" width="149" height="27" border="0"
												alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="27" border="0" alt=""></td>
									</tr>
									<tr>
										<td rowspan="2" align="center" valign="top" background="/images/left/left_r2_c1.gif">
											<table width="100%" border="0" cellpadding="0" cellspacing="0">
												<tr>
													<td align="center"><img src="/images/IVA/MissionStatementO.gif" width="143" height="31" border="0"></td>
												</tr>
												<tr>
													<td align="center"></td>
												</tr>
											</table>
										</td>
										<td><img src="/images/left/spacer.gif" width="1" height="4" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img src="/images/left/spacer.gif" width="1" height="10" border="0" alt=""></td>
									</tr>
									<tr>
										<td><img name="left_r4_c1" src="/images/left/left_r4_c1.gif" width="149" height="3"
												border="0" alt=""></td>
										<td><img src="/images/left/spacer.gif" width="1" height="3" border="0" alt=""></td>
									</tr>
								</table>
							</td>
							<td width="81%" align="center" bgcolor="#ffffff"><img src="/images/IVA/banner.jpg" width="614" height="150"><br>
								<br>
								<table width="96%" border="0" cellpadding="5" cellspacing="0">
									<tr>
										<td bgcolor="#ffffff"><table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="#ffffff" style="BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid">
												<tr>
													<td>
														<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="font3">
															<tr>
																<td align="left">
																	<p align="justify"><strong><font color="#000000">Vision</font></strong><font color="#000000">
																			is one of the most wonderful gifts we can inherit from our ancestors. In human 
																			history, people have never stopped improving their vision capabilities to see 
																			the world better. </font>
																	</p>
																	<p align="justify"><font color="#000000"><strong> Machine vision</strong> offers great 
																			opportunities in providing innovative technologies to the industry in process 
																			automations and on-line inspections. Automated machine vision can extend 
																			human’s abilities beyond the visual spectral range and assist humans in 
																			performing labor intensive and tedious work. By using machine vision 
																			technologies, industries can gain the advantage of accuracy, speed, and 
																			productivity. </font>
																	</p>
																	<p align="justify"><font color="#000000"><strong> Industry Vision Automation, Corp.</strong>
																			(IVA) is an industrial machine vision company focused on developing 
																			cutting-edge machine vision technologies and delivering imaging 
																			hardware/software solutions that meet practical needs of the industry. </font>
																	</p>
																	<p align="justify">
																	<font color="#000000">
																	<b>The 
																			mission</b> of IVA is to develop state-of-the-art technologies 
																	to meet the 
																	highest 
																	custom 
																	satisfaction, 
																	to bring the 
																	best 
																	advanced 
																	technologies 
																	to our 
																	customers 
																	and to use 
																	our 
																	expertise 
																	for the 
																	industry&#39;s 
																	future 
																	needs. We are proud of being members of IVA, because we 
																			truly believe that with IVA, you can <strong>see the world better</strong>. </font>
																	</p>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<br>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
			<tr>
				<td bgcolor="#343467">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
