<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Industry Vision Automation,Corp</title>
<link href="css/text.css" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/JavaScript">
<!--



function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
//-->
</script>
</head>

<body leftmargin="0" topmargin="0">
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/head/spacer.gif" width="776" height="1" border="0" alt=""></td>
    <td><img src="images/head/spacer.gif" width="1" height="1" border="0" alt=""></td>
  </tr>
  <tr>
    <td><img name="head_r1_c1" src="images/head/head_r1_c1.gif" width="776" height="123" border="0" alt=""></td>
    <td><img src="images/head/spacer.gif" width="1" height="123" border="0" alt=""></td>
  </tr>
  <tr>
    <td align="center" background="images/head/head_r2_c1.gif"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center" class="font4"><a class="top" href="../IVA/MS.html">IVA</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../news/news.html">News</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../product/P1.html">Products</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../applications/FS.html">Applications</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../services/TS.html">Services</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../CDE/CSD.html">Contract Design &amp; Engineering</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../awards/awards.html">Awards</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../contactus/contactus.html">Contact Us</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="top" href="../contactus/contactus.html"></a><a class="top" href="../partner/partner.html">Partner</a></td>
        </tr>
    </table></td>
    <td><img src="images/head/spacer.gif" width="1" height="28" border="0" alt=""></td>
  </tr>
</table>
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top" bgcolor="6B6B9B">    <br>
      <table width="650"  border="0" align="center" cellpadding="5" cellspacing="0">
        <tr>
          <td bgcolor="#343467"><table width="100%"  border="0" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" style="BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid">
              <tr>
                <td align="center"><br>
                    <table width="95%"  border="0">
                      <tr>
                        <td align="center"><table width="10" border="0" cellpadding="4" cellspacing="1" bgcolor="#FFFFFF">
                            <tr>
                              <td bgcolor="#343467"><img src="images/awards/tpaper3.jpg" width="591" height="809" border="0"></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td height="40" align="center"><a href="awards.html"><img src="images/awards/back.gif" width="50" height="20" border="0"></a></td>
                      </tr>
                    </table>
                </td>
              </tr>
          </table></td>
        </tr>
      </table>
      <br></td>
  </tr>
</table>
<table width="776" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td bgcolor="343467" style="BORDER-TOP: #ffffff 4px solid;">&nbsp;</td>
  </tr>
</table>
</body>
</html>
